:root {
  --orange: #f42;
}

* {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

.wrapper {
  max-width: 120rem;
  padding: 0 2rem;
  margin: 0 auto;
}

.main-section {
  margin-bottom: 5.6rem;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.4rem;
  color: var(--orange);
}

.section-title {
  font-size: 2.8rem;
}

.latest-news,
.latest-fundings,
.categories,
.latest-deals {
  margin: -1.2rem;
}

/* Nav */

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.nav-logo {
  display: none;
}

.nav-first {
  height: 3.2rem;
  font-size: 1.3rem;
  color: hsla(0, 0%, 100%, 0.6);
  background-color: #131313;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav ul {
  display: flex;
}

.nav-first-left li:not(:last-of-type),
.nav-first-right li:not(:last-of-type) {
  margin-right: 1.2rem;
}

.nav-first-left li:first-of-type {
  color: #fff;
}

.nav-second {
  height: 5rem;
  font-size: 1.4rem;
  color: #aaa;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}

.nav-second li a:hover {
  color: #000;
}

.nav-second-left li a {
  display: block;
  text-transform: uppercase;
  padding: 1.8rem 1.2rem 0;
}

.nav-second-left li:first-of-type a {
  padding-left: 2rem;
}

.nav-second-right .menu-bars {
  display: none;
  color: var(--orange);
}

.nav-second-right li a {
  display: block;
}

.nav-second-right .menu-bars a:hover {
  color: var(--orange);
}

.nav-second-right i {
  font-size: 1.7rem;
  padding: 1.6rem;
  border-left: 1px solid #eee;
}

/* Main */

.main {
  margin-top: 8rem;
}

/* Cover */

.cover {
  height: 75vh;
  padding: 4px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.cover-story {
  color: #fff;
  position: relative;
  padding: 4px;
}

.cover-story-1 {
  grid-row: 1 / 3;
  grid-column: 1 / 3;
}

.cover-story-img {
  height: 100%;
  background-position: 50%;
  background-size: cover;
}

.cover-story-img-1 {
  background-image: url(images/cover-story-img-1.png);
}

.cover-story-img-2 {
  background-image: url(images/cover-story-img-2.png);
}

.cover-story-img-3 {
  background-image: url(images/cover-story-img-3.png);
}

.cover-logo-container {
  position: absolute;
  top: 2.4rem;
  left: 2.4rem;
  width: 50%;
}

.cover-story-date {
  font-size: 1.4rem;
  position: absolute;
  top: 1.6rem;
  right: 2.4rem;
}

.cover-story-header {
  padding: 2rem 1.6rem;
  position: absolute;
  bottom: 4px;
  left: 4px;
}

.cover-story-section {
  font-size: 1.4rem;
}

.cover-story-title {
  font-size: 2.8rem;
  line-height: 1;
  letter-spacing: -1px;
  margin: 0.5rem 0 1.4rem 0;
}

.cover-story-1 .cover-story-title {
  font-size: 5.6rem;
}

.cover-story-byline {
  color: hsla(0, 0%, 100%, 0.6);
  display: flex;
}

.cover-story-byline li:not(:last-of-type) {
  margin-right: 1rem;
}

.cover-story-byline a:hover {
  color: #fff;
}

.cover-story-byline i {
  font-size: 1.4rem;
  margin-right: 0.5rem;
}

/* Latest news / Latest deals */

.latest-news-section {
  margin-top: 8rem;
}

.latest-news,
.latest-deals {
  display: flex;
  flex-wrap: wrap;
}

.latest-news-item,
.latest-deal {
  line-height: 2rem;
  flex-basis: 25%;
  height: 25rem;
  padding: 1.2rem;
}

.latest-news-item-content,
.latest-deal-content {
  height: 100%;
}

.latest-deal-content {
  background-color: red;
}

.latest-news-item-img {
  display: block;
  height: 65%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  margin-bottom: 0.8rem;
}

.latest-news-item-img-1 {
  background-image: url(images/latest-news/1.png);
}

.latest-news-item-img-2 {
  background-image: url(images/latest-news/2.png);
}

.latest-news-item-img-3 {
  background-image: url(images/latest-news/3.png);
}

.latest-news-item-img-4 {
  background-image: url(images/latest-news/4.png);
}

.latest-news-item-img-5 {
  background-image: url(images/latest-news/5.png);
}

.latest-news-item-img-6 {
  background-image: url(images/latest-news/6.png);
}

.latest-news-item-img-7 {
  background-image: url(images/latest-news/7.png);
}

.latest-news-item-img-8 {
  background-image: url(images/latest-news/8.png);
}

.latest-news-item-title {
  font-size: 1.6rem;
  margin-bottom: 0.4rem;
}

.latest-news-item-byline {
  color: #aaa;
  display: flex;
  font-size: 1.3rem;
}

.latest-news-item-byline li:not(:last-child) {
  margin-right: 0.4rem;
}

/* Latest funding */

.latest-fundings-header-links {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
}

.latest-fundings-header-links li:not(:last-of-type) {
  padding-right: 1rem;
  border-right: 1px solid var(--orange);
  margin-right: 1rem;
}

.latest-fundings {
  display: flex;
  flex-wrap: wrap;
}

.latest-funding {
  flex-basis: 25%;
  height: 32rem;
  padding: 1.2rem;
}

.latest-funding-content {
  background-color: cornflowerblue;
  height: 100%;
}

/* Categories */

.categories {
  display: flex;
  flex-wrap: wrap;
}

.category {
  width: 33.33333%;
  height: 70.5rem;
  padding: 1.2rem;
  margin-bottom: 2.4rem;
}

.category-content {
  background-color: greenyellow;
  height: 100%;
}

/* Latest deals */

.latest-deals-header-link {
  font-size: 1.6rem;
}

/* Footer */

.footer-links {
  background-color: #131313;
  height: 16rem;
}

.footer-copyright {
  background-color: #000;
  height: 10rem;
}

/* Media queries */

/* 1023px */
@media only screen and (max-width: 63.9375em) {
  .nav {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(2, auto);
  }

  .nav-logo {
    display: block;
    width: 10.6rem;
    height: 100%;
    background: linear-gradient(to bottom right, #cc0198, #ff4422);
    grid-column: 1 / 2;
    grid-row: 1 / -1;
  }

  .nav-logo a {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-logo a:hover {
    background-image: url(https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/img/home-1.gif);
    background-position: 50%;
    background-size: cover;
  }

  .nav-logo img {
    width: 6.6rem;
    height: 1.6rem;
  }

  .nav-first,
  .nav-second {
    grid-column: 2 / -1;
  }

  .nav-first {
    grid-row: 1 / 2;
  }

  .nav-second {
    grid-row: 2 / -1;
  }

  .nav-second-left li a {
    padding: 1.8rem 1rem 0;
  }

  .cover {
    height: 60vh;
  }

  .cover-logo-container,
  .cover-story-date {
    display: none;
  }

  .cover-story-header {
    padding: 1.6rem 1.2rem;
  }

  .cover-story-1 .cover-story-title {
    font-size: 4rem;
  }

  .cover-story-title {
    font-size: 2rem;
  }

  .main-section {
    margin-bottom: 4.2rem;
  }

  .latest-news,
  .latest-fundings,
  .categories,
  .latest-deals {
    margin: -1rem;
  }

  .latest-news-item,
  .latest-deal,
  .latest-funding,
  .category {
    padding: 1rem;
  }

  .latest-news-item,
  .latest-deal {
    flex-basis: 33.33333%;
  }

  .latest-news-item-title {
    font-size: 1.4rem;
  }

  .latest-funding {
    flex-basis: 33.33333%;
  }

  .latest-funding-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .latest-fundings-header-links,
  .latest-deals-header-link {
    margin-top: 1rem;
  }

  .latest-funding:last-of-type {
    display: none;
  }

  .category {
    flex-basis: 50%;
  }
}

/* 767px */
@media only screen and (max-width: 47.9375em) {
  .nav-first,
  .nav .nav-second-left {
    display: none;
  }

  .nav-second-right {
    margin-left: auto;
  }

  .nav-second-right .menu-bars {
    display: list-item;
  }

  .main {
    margin-top: 4.8rem;
  }

  .cover {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    height: auto;
  }

  .cover-story {
    min-height: 30vh;
  }

  .cover-story-1 {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }

  .cover-story-header {
    padding: 1.4rem 1.2rem;
  }

  .cover-story-1 .cover-story-title {
    font-size: 2rem;
  }

  .cover-story-title {
    margin-bottom: 0.5rem;
  }

  .latest-news,
  .latest-fundings,
  .categories,
  .latest-deals {
    margin: -0.8rem;
  }

  .latest-news-item,
  .latest-deal,
  .latest-funding,
  .category {
    padding: 0.8rem;
  }

  .latest-news-item,
  .latest-deal {
    flex-basis: 100%;
    height: 8.8rem;
  }

  .latest-news-item-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
  }

  .latest-news-item-img {
    width: 7.5rem;
    height: 100%;
    margin: 0 1rem 0 0;
  }

  .latest-fundings-header-links,
  .latest-deals-header-link {
    font-size: 1.4rem;
  }

  .latest-fundings-header-links {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0.5rem;
  }

  .latest-fundings-header-links li:not(:last-of-type) {
    padding-right: 0;
    border-right: none;
    margin-right: 0;
  }

  .latest-fundings-header-links li {
    margin-top: 1.1rem;
  }

  .latest-funding {
    flex-basis: 100%;
    height: 25rem;
  }

  .category {
    flex-basis: 100%;
    margin-bottom: 0;
  }

  .footer-copyright {
    height: 12.4rem;
  }
}
